# 1. Using self

In [1]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Marks: {self.marks}")

s1 = Student("Ali", 85)
s1.display()

Name: Ali, Marks: 85

# 2. Using cls

In [2]:
class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

    @classmethod
    def display_count(cls):
        print(f"Objects created: {cls.count}")

c1 = Counter()
c2 = Counter()
Counter.display_count()

Objects created: 2

# 3. Public Variables and Methods

In [3]:
class Car:
    def __init__(self, brand):
        self.brand = brand

    def start(self):
        print(f"{self.brand} is starting...")

car1 = Car("Toyota")
print(car1.brand)
car1.start()

Toyota
Toyota is starting...

# 4. Class Variables and Class Methods

In [4]:
class Bank:
    bank_name = "ABC Bank"

    @classmethod
    def change_bank_name(cls, name):
        cls.bank_name = name

b1 = Bank()
b2 = Bank()
print(b1.bank_name)
Bank.change_bank_name("XYZ Bank")
print(b2.bank_name)

ABC Bank
XYZ Bank

# 5. Static Variables and Static Methods

In [5]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

print(MathUtils.add(3, 7))

10

# 6. Constructors and Destructors

In [6]:
class Logger:
    def __init__(self):
        print("Logger object created")

    def __del__(self):
        print("Logger object destroyed")

logger = Logger()
del logger

Logger object created
Logger object destroyed

# 7. Access Modifiers: Public, Private, Protected

In [7]:
class Employee:
    def __init__(self, name, salary, ssn):
        self.name = name
        self._salary = salary
        self.__ssn = ssn

emp = Employee("John", 50000, "123-45-6789")
print(emp.name)         # Public: Accessible
print(emp._salary)      # Protected: Accessible but should not be
# print(emp.__ssn)      # Private: Not directly accessible
print(emp._Employee__ssn)  # Name mangling to access private variable

John
50000
123-45-6789

# 8. The super() Function

In [8]:
class Person:
    def __init__(self, name):
        self.name = name

class Teacher(Person):
    def __init__(self, name, subject):
        super().__init__(name)
        self.subject = subject

t1 = Teacher("Mr. Smith", "Math")
print(t1.name, t1.subject)

Mr. Smith Math

# 9. Abstract Classes and Methods

In [9]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

rect = Rectangle(4, 5)
print(rect.area())

20

# 10. Instance Methods

In [10]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print(f"{self.name} is barking!")

dog1 = Dog("Buddy", "Labrador")
dog1.bark()

Buddy is barking!

# 11. Class Methods

In [11]:
class Book:
    total_books = 0

    @classmethod
    def increment_book_count(cls):
        cls.total_books += 1

Book.increment_book_count()
Book.increment_book_count()
print(Book.total_books)

2

# 12. Static Methods

In [12]:
class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32

print(TemperatureConverter.celsius_to_fahrenheit(25))

77.0

# 13. Composition

In [13]:
class Engine:
    def start(self):
        print("Engine started.")

class Car:
    def __init__(self, engine):
        self.engine = engine

    def start(self):
        self.engine.start()

engine = Engine()
car = Car(engine)
car.start()

Engine started.

# 14. Aggregation

In [14]:
class Employee:
    def __init__(self, name):
        self.name = name

class Department:
    def __init__(self, employee):
        self.employee = employee

emp = Employee("Sara")
dept = Department(emp)
print(dept.employee.name)

Sara

# 15. Method Resolution Order (MRO) and Diamond Inheritance

In [15]:
class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        print("B")

class C(A):
    def show(self):
        print("C")

class D(B, C):
    pass

d = D()
d.show()  # Output will follow MRO: D -> B -> C -> A

B

# 16. Function Decorators

In [16]:
def log_function_call(func):
    def wrapper():
        print("Function is being called")
        return func()
    return wrapper

@log_function_call
def say_hello():
    print("Hello!")

say_hello()

Function is being called
Hello!

# 17. Class Decorators

In [17]:
def add_greeting(cls):
    cls.greet = lambda self: "Hello from Decorator!"
    return cls

@add_greeting
class Person:
    def __init__(self, name):
        self.name = name

p = Person("Alex")
print(p.greet())

Hello from Decorator!

# 18. Property Decorators

In [18]:
class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        return self._price

    @price.setter
    def price(self, value):
        self._price = value

    @price.deleter
    def price(self):
        del self._price

p = Product(100)
print(p.price)
p.price = 150
print(p.price)
del p.price

100
150

# 19. callable() and __call__()

In [19]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, value):
        return self.factor * value

m = Multiplier(3)
print(callable(m))   # True
print(m(10))         # 30

True
30

# 20. Creating a Custom Exception

In [20]:
class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age must be at least 18.")

try:
    check_age(16)
except InvalidAgeError as e:
    print(e)

Age must be at least 18.

# 21. Make a Custom Class Iterable

In [21]:
class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        val = self.current
        self.current -= 1
        return val

for num in Countdown(5):
    print(num)

5
4
3
2
1
0